body{
    background-color: #1E1E1E;

    display: flex;
    justify-content: center;
}

/* 進度條 */
.progress_container_1{
    font-family: 微軟正黑體;
    font-size: 20px;
    color: #DF1C4F;
    text-shadow: #DF1C4F -2px -2px 3px;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.progress_container_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 5px;
    margin: 20px;
    margin-top: 5px;
}

.progress_bg{
    /* position: absolute; */
    width: 600px;
    height: 5px;
    background-color: gray;
}

.progress_v{
    position: absolute;
    width: var(--pixel);
    height: 5px;
    background-color: #DF1C4F;

    animation-name: move_progress; /* 設定的動畫名稱 */
    animation-duration: 0.7s; /* 持續時間 */
    animation-timing-function: ease-out; /* 緩入 */
}

@keyframes move_progress{
    from{width: 0px;}
    to{width: var(--pixel);}
}

/* 背包圖片 */
.red, .purple, .yellow, .white, .gray, .need{
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 容器 */
.c{
    display: flex;
    flex-direction: column;
}

.container_1, .container_2, .container_3{
    width: 600px;
    height: auto;

    border-style: solid;
    border-color: #C0E4DC;
    border-radius: 10px;
    box-shadow: -2px -2px 5px -2px #C0E4DC;
    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: space-around;
}

.c2_box_2{
    display: flex;
    flex-wrap: wrap;
}

.c3_box_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container_3{
    justify-content: start;
}

/* 文字 */
h2{
    font-family: 微軟正黑體;
    color: #C0E4DC;
    text-shadow: #C0E4DC -2px -2px 3px;
    padding-top: 10px;
    margin: 10px;
    margin-bottom: 0px;
}

h3{
    font-family: 微軟正黑體;
    color: #C0E4DC;
    text-shadow: #C0E4DC -2px -2px 3px;
    margin: 10px;
    margin-top: 5px;
}

.question{
    font-family: 微軟正黑體;
    font-size: 18px;
    color: #C0E4DC;
    text-shadow: #C0E4DC -2px -2px 3px;
}

.donator{
    font-family: 微軟正黑體;
    font-size: 16px;
    color: #C0E4DC;
    text-shadow: #C0E4DC -2px -2px 3px;
    line-height: 25px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text{
    font-family: 微軟正黑體;
    font-size: 16px;
    color: #C0E4DC;
    text-shadow: #C0E4DC -2px -2px 3px;
    line-height: 25px;
}